<h1>Help</h1>
<p>
  Get help on the agroBox App at the
  <a href="http://agrobox.org/help">agroBox App help page</a>.
  To get help on this agroBox app, see the
  <a href="http://agrobox.org/kb">agroBox App Knowledge Base</a>.
</p>
