<footer class="footer">
  <small>
    <a href="http://agrobox.org/">agroBox App</a>
    by Pavel Kuzmenko
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.agrobox.org/">News</a></li>
    </ul>
  </nav>
</footer>